.search__container {
    display: flex;
    margin: 20px 0;
}
.search__input {
    width: 100%;
    padding: 10px;
}
.search__button {
    padding: 10px;
}
.pages {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.current__page,
.page {
    margin: 0 10px;
    padding: 5px 10px;
    border: 2px solid gray;
    border-radius: 4px;
    cursor: pointer;
}
.current__page {
    border: 2px solid tomato;
    font-weight: bold;
    cursor: auto;
}
.fetching {
    margin: 30vh auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px double tomato;
    animation-name: fetching;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes fetching {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg) scale(1.5);
    }
}
